.DS_Store
Thumbs.db

backend/__pycache__/
backend/*.pyc
backend/venv/
backend/.venv/
backend/.env
.pytest_cache/
backend/.pytest_cache/

backend/assets/
backend/files/

frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/npm-debug.log